.aboutContent {
    display: flex;
    align-items: center;
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.left > img {width: 18vw;}

.leftHeading {text-align: center;}

.leftHeading > p {
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6); 
}

/* if the browser window is 1100px or smaller */
@media only screen and (max-width: 1100px) {
    .aboutContent {flex-direction: column;}

    .left {
        flex-direction: row;
        margin: 0;
    }

    .leftHeading {margin-right: 20px;}

    .right {width: 93vw;}
}

/* if the browser window is 750px or smaller */
@media only screen and (max-width: 750px) {
    .right > p {font-size: 14px;}
}