@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.homeContent {
  margin: auto;
  position: relative;
}

.homeContent > h2 {
  background: rgb(17,153,142);
  background: linear-gradient(90deg, rgba(17,153,142,1) 0%, rgba(56,239,125,1) 100%);
  color: transparent;
  background-clip: text;
}

.homeContent #greetingContainer {
  display: flex;
  align-items: center;
}

.homeContent #greeting {
  word-spacing: -5px;
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 0px;
  margin-right: 8px;
}

.laptopIcon {color:white;}

.homeContent > p {width: 50vw;}

/* if the browser window is 1100px or smaller */
@media only screen and (max-width: 1100px) {
  .homeContent > p {width: 75vw;}
}

/* if the browser window is 750px or smaller */
@media only screen and (max-width: 750px) {
  .homeContent > p {
    width: 95vw;
    font-size: 14px;
  }
}