/* home section css */
.Home {position: relative;}

#greeting {
  color: var(--black);
  font-family: var(--ibm-font);
  word-spacing: -5px;
  margin: 0 8px 0 4px;
}

#homeContainer > h1, 
#homeContainer > h2 {
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0 7px 8px rgb(2 11 22 / 50%);
}

#homeContainer > h2,
#homeContainer > p {color: var(--black);}

#homeContainer > p {width: 48vw;}

#worldWebSVG {
  bottom: 0;
  right: 0;
  position: absolute;
}

/* if the browser window is 1100px or smaller */
@media only screen and (max-width: 1100px) {
  #homeContainer > p {width: 75vw;}
}

/* if the browser window is 750px or smaller */
@media only screen and (max-width: 750px) {
  #homeContainer > p {
    width: 95vw;
    font-size: 14px;
  }
}