@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.projectsHeading {margin-bottom: 30px;}

.projectsHeading > p {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}
.projectsContent {width: 100%;}

.TabsContainer {margin-bottom: 30px;}

.projectsContainer,
.visitBtnsContainer {
    display: flex;
    justify-content: center;
}

.projectsContainer {flex-wrap: wrap;}

.projectTechStack {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 11px;
    font-family: 'IBM Plex Mono', monospace; 
}

.projectTechStack > li {margin: 0 5px;}