/* project section css */
#projectsHeading {margin-bottom: 30px;}

#projectsHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

#faCode {filter:drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.5));}

.TabsContainer {
    border: none;
    margin-bottom: 20px;
}

.projectsContainer {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projectViewBtns {display: flex;}