#experienceHeading {margin-bottom: 30px;}

#experienceHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

#faBuilding {filter:drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.5));}

.panel {
    width: 80vw;
    display: flex;
}

.pillsCol {
    width: 30%;
    max-width: none;
}

.pillsContainer {
    display: flex;
    flex-direction: column;
}

.contentCol {width: 70%;}

.tabContent {width: 100%}

#experienceContainer ul {
    width: 100%;
    margin-top: 12px;
    padding: 5px 25px;
    border-radius: 10px;
    list-style: circle;
    color: var(--black);
    background-color: var(--cream);
}

#experienceContainerul > li > a {color: white;}

#experienceContainer ul > li > a:hover {text-decoration: underline;}

#experienceHeading > p,
.date {
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}

.date {font-size: 13px;}

@media only screen and (max-width: 805px) {
    .panel {flex-direction: column;}

    .pillsCol,
    .contentCol {width: 100%}

    .pillsContainer {margin-bottom: 15px;}
}

/* for large, medium, and small devices */
@media only screen and (max-width: 425px) {
    .panel {width: 95vw;}
}