@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.experienceHeading {margin-bottom: 30px;}

.experienceHeading > p {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}

.experienceContent,
.pillsContainer {
    display: flex;
    flex-direction: column;
}

.experienceContent ul {
    margin-top: 12px;
    padding: 5px 25px;
    border-radius: 10px;
    border: 1px solid white;
    list-style: circle;
}
.experienceContent ul > li > a {color: white;}

.experienceContent ul > li > a:hover {text-decoration: underline;}

.experienceHeading > p,
.date {
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}

.date {font-size: 13px;}

.panel {margin: 0;}

.visitBtnsContainer {
    display: flex;
    justify-content: center;
    margin: 5px;
}

@media only screen and (max-width: 575px) {
    .experienceContent ul {width: 95vw;}

    .pillsContainer {margin-bottom: 16px;}
}