#experienceHeading {margin-bottom: 30px;}

#experienceHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

.panel {width: 80vw;}

#experienceContainer,
.pillsContainer {
    display: flex;
    flex-direction: column;
}

#experienceContainer ul {
    width: 90%;
    margin-top: 12px;
    padding: 5px 25px;
    border-radius: 10px;
    border: 1px solid white;
    list-style: circle;
    background-color: var(--black);
}
#experienceContainerul > li > a {color: white;}

#experienceContainer ul > li > a:hover {text-decoration: underline;}

#experienceHeading > p,
.date {
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}

.date {font-size: 13px;}

.panel {margin: 0;}