.SocialBtn {
    color: white;
    margin-bottom: 12px;
}

.SocialBtn:hover{color: #38EF7D;}

.SocialBtns {
    display: flex;
    flex-direction: column;
}

/* if the browser window is 1100px or smaller */
@media only screen and (max-width: 1100px) {
    .SocialBtn {
        color: white;
        margin: 0 8px 0 0;
    }

    .SocialBtns {flex-direction: row;}
}