.contactContent {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contactContent {text-align: center;}

.contactHeading > p {
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}

.contactContent > p {
    text-align: center;
    margin-bottom: 15px;
}

/* for large, medium, and small mobile devices */
@media only screen and (max-width: 425px) {
    .contactContent {width: 85vw;}
}
