/* view btn component css */
.ViewBtn {
    color: var(--white);
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: -5px 5px 4px 0px rgba(0,0,0,0.5);
    background-color: var(--lightblue);
    transition: all 0.3s ease 0s;
}

.ViewBtn:hover {
    color: var(--black);
    background-color: var(--cream);
    transform: translateY(-3px);
}