.ProjectCard {
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6); 
}

/* if the browser window is 750px or smaller */
@media only screen and (max-width: 750px) {
    .ProjectCard {
        width: 98vw;
        margin: 3px;
        font-size: 12px;
        padding: 5px 5px;
    }

    .ProjectCard > h6 {font-size: 14px;}
}