/* about section css */
strong {
    color: var(--lightblue);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.About {position: relative;}

#sparks1SVG {
    top: 70px;
    left: 0px;
    position: absolute;
}

#sparks2SVG {
    bottom: 20px;
    right: 25px;
    position: absolute;
}

#aboutHeading {margin-bottom: 30px;}

#aboutHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

#faFemale {filter:drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.5));}

#about {
    width: 50vw;
    padding: 20px;
    border-radius: 15px;
    color: var(--black);
    border: 1px solid var(--cream);
    box-shadow: -20px 10px var(--cream);
}

/* for tablet devices */
@media only screen and (max-width: 1140px) {
    #sparks1SVG {
        top: 100px;
        width: 200px;
        height: 200px;
    }

    #sparks2SVG {
        bottom: 0px;
        width: 190px;
        height: 190px;
    }

    #about {width: 75vw;}
  }

/* for large mobile devices */
@media only screen and (max-width: 425px) {
    #sparks1SVG {
        top: 20px;
        left: 15px;
        width: 90px;
        height: 90px;
    }

    #sparks2SVG {
        top: 20px;
        right: 15px;
        width: 90px;
        height: 90px;
    }

    #about {
        width: 80vw;
        box-shadow: 15px -10px var(--ashgray);
    }
  }

/* for medium mobile devices */
@media only screen and (max-width: 375px) {
    #sparks1SVG {
        top: 10px;
        left: 35px;
        width: 70px;
        height: 70px;
    }

    #sparks2SVG {
        top: 10px;
        right: 35px;
        width: 70px;
        height: 70px;
    }

    #about {
        width: 85vw;
        box-shadow: 10px -10px var(--ashgray);
    }
  }

/* for small mobile devices */
@media only screen and (max-width: 320px) {
    #sparks1SVG {left: 20px;}

    #sparks2SVG {right: 20px;}

    #about {
        width: 90vw;
        box-shadow: none;
    }
  }