/* about section css */
.About {position: relative;}

#sparks1SVG {
    top: 70px;
    left: 0;
    position: absolute;
}

#sparks2SVG {
    bottom: 20px;
    right: 25px;
    position: absolute;
}

#aboutHeading {margin-bottom: 30px;}

#aboutHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

#about {
    width: 50vw;
    padding: 20px;
    border-radius: 15px;
    color: var(--black);
    border: 1px solid var(--ashgray);
    box-shadow: -20px 10px var(--ashgray);
}

#about span {background-color: red;}