.Contact {
    position: relative;
    padding-bottom: 190px;
}

#roboticHandSVG {
    right: 50px;
    bottom: 0px;
    position: absolute;
}

#contactHeading {margin-bottom: 20px;}

#contactHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

#contactContainer {
    width: 60vw;
    display: flex;
    color: var(--black);
    flex-direction: column;
    align-items: center;
}

#contactContainer > p {
    text-align: center;
    margin-bottom: 16px;
}

/* for large, medium, and small mobile devices */
@media only screen and (max-width: 425px) {
    #contactContainer {width: 85vw;}
}
