/* navbar component css */
.customNavbar {
    width: 85vw;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    border-radius: 30px;
    padding: 35px;
    box-shadow: 0 3px 3px -1px black;
    font-family: var(--nav-font);
    transition: all 1s ease;
}

.customNavbar {background-color: var(--cream);}

.navbarCollapse {
    display: flex;
    flex-wrap: wrap;
}

.navBtn {
    margin-right: 12px;
    font-weight: 300;
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
}

.navBtn:hover {color: var(--lightblue);}

.navBtnActive,
.navBtnActive:hover {
    color: var(--black);
    font-weight: 700;
    border-bottom: 2px solid var(--lightblue);
}

/* if the browser window is 991px or smaller */
@media only screen and (max-width: 991px) {
    .customNavbar {
        width: 90vw;
    }
    .navbarCollapse {justify-content: center;}

    .navBtn {
        padding: 3px 12px;
        margin-bottom: 5px;
        font-size: 13px;
    }
}