.customNavbar,
.customNavbar2 {
    width: 85vw;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 3px 3px -1px black;
    font-family: var(--nav-font);
    transition: all 1s ease;
}

.customNavbar {background-color: var(--ashgray);}

/* this styling is applied when user scrolls to a certain point in browswer */
.customNavbar2 {
    background-color:#667db8;
}

.navbarCollapse {
    display: flex;
    flex-wrap: wrap;
}

.navBtn,
.navBtn2 {
    margin-right: 15px;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
}

.navBtn {color: var(--black);}

.navBtn:hover {
    color: var(--black);
    border-bottom: 2px solid var(--black);
}

/* this styling is applied for when customNavbar2 is active */
.navBtn2 {color: var(--black);}

.navBtn2:hover {
    color: var(--white);
    border-bottom: 2px solid var(--ashgray);
}

.navBtnActive,
.navBtnActive:hover {
    font-weight: 700;
    border-bottom: 2px solid var(--seagreen);
}

/* if the browser window is 991px or smaller */
@media only screen and (max-width: 991px) {
    .customNavbar {
        width: 90vw;
    }
    .navbarCollapse {justify-content: center;}

    .navBtn {
        padding: 3px 12px;
        margin-bottom: 5px;
        font-size: 13px;
    }
}