.Skill {margin: 12px;}

.skillContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skillContainer > div {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    margin-bottom: 8px;
    border-radius: 50%;
    border: 1.5px solid var(--lightblue);
}