/* footer component css */
.Footer {
    display: flex;
    padding: 0 30px;
    background-color: var(--darkgray);
}

.Footer > span {
    margin-bottom: 12px;
    font-size: 12px;
    font-family: var(--ibm-font);
    word-spacing: -3px;
}