.Footer {
    display: flex;
    padding: 0 30px;
    color: var(--black);
    background-color: var(--seagreen);
}

.Footer > span {
    margin-bottom: 12px;
    font-size: 12px;
    font-family: var(--ibm-font);
    word-spacing: -3px;
}