.skillsContent {position: relative;}

.skillsHeading {text-align: center;}

.skillsHeading > p {
    font-family: 'IBM Plex Mono', monospace;
    word-spacing: -5px;
}

.skillsContainer {
    display: flex;
    margin-top: 20px;
}

.developmentSkills,
.toolsSkills {
    padding: 8px;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    justify-content: center;
    margin-top: 20px;
}

/* if the browser window is 750px or smaller */
@media only screen and (max-width: 750px) {
    .skills {width:48vw;}
}