/* skills section css */
.Skills {position: relative;}

#wires1SVG,
#wires2SVG {
    top: 50%;
    position: absolute;
}

#wires1SVG {left: 0;}

#wires2SVG {right: 0;}

#skillsHeading {margin-bottom: 30px;}

#skillsHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

#faTerminal {filter:drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.5));}

#developmentContainer > h5, 
#toolsContainer > h5 {
    color: var(--white);
    text-align: center;
}

#developmentSkills {
    display: flex;
    flex-direction: column;
}

#frontendSkills,
#backendSkills {
    display: flex;
    align-items: center;
    margin: 5px;
}

#frontendSkills > h6,
#backendSkills > h6 {
    margin: 0;
    color: var(--cream);
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

#toolsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* for tablet devices  */
@media only screen and (max-width: 768px) {
    #wires1SVG,
    #wires2SVG {display: none;}
}

/* for large, medium, and small moblile devices */
@media only screen and (max-width: 425px) {
    #frontendSkills,
    #backendSkills {flex-direction: column;}

    .skills {width: 95vw;}
}