/* skills section css */
#skillsHeading {margin-bottom: 30px;}

#skillsHeading > p {
    text-align: center;
    font-family: var(--ibm-font);
    word-spacing: -5px;
}

#developmentContainer > h5, 
#toolsContainer > h5{text-align: center;}

#developmentSkills {
    display: flex;
    flex-direction: column;
}

#frontendSkills,
#backendSkills {
    display: flex;
    align-items: center;
    margin: 5px;
}

#frontendSkills > h6,
#backendSkills > h6 {
    margin: 0;
    color: var(--black);
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

#toolsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* for large mobile devices (425px) or medium mobile devices (375px) or smaller */
@media only screen and (max-width: 425px) {
    #frontendSkills,
    #backendSkills {flex-direction: column;}

    .skills {width: 95vw;}
}