/* scrollbar css */
/* width */
*::-webkit-scrollbar {width: 7px;}

/* track */
*::-webkit-scrollbar-track {background: var(--black); }
   
/* handle */
*::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.9); 
}
  
/* handle on hover */
*::-webkit-scrollbar-thumb:hover {background: rgba(255, 255, 255, 0.9); }

/* end scrollbar css */

/* global css */
h1 {font-size: 68px;}

h2 {font-size: 64px;}

h3 {
    font-size: 45px;
    color: var(--lightblue);
    text-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {font-family: var(--header-font);}

a {text-decoration: none;}

p {
    color: var(--white);
    margin-bottom: 8px;
}

body {
    min-height: 100vh;
    color: white;
    font-size: 14px;
    font-family: var(--body-font);
    background-color: var(--darkgray);
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* for both experience and projects page - tabs  */
.nav-pills .nav-link.active,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
    color: var(--white);
    border: 1px solid transparent;
    background-color: var(--lightblue);
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* specifically for experience tabs */
.nav-pills .nav-link {color: var(--white);}

.nav-pills .nav-link:hover {color: var(--lightblue);}

.nav-pills .nav-link.active:hover {color: var(--white);}

/* specifically for projects tabs */
.nav-tabs .nav-link {
    color: var(--black);
    margin: 5px;
    border-radius: 10px;
    padding: 6px 12px;
    background-color: var(--cream);
    transition: all 0.3s ease 0s;
}

/* for font awesome skill icons */
.fa-fw {color: var(--white);}

/* for tablet device or smaller */
@media only screen and (max-width: 768px) {
    h1 {font-size: 44px;}
    h2 {font-size: 40px;}
    h3 {font-size: 36px;}
}

/* for large mobile device */
@media only screen and (max-width: 532px) {
    h1 {font-size: 33px;}
    h2 {font-size: 31px;}
    h3 {font-size: 29px;}
}

/* for medium mobile device */
@media only screen and (max-width: 406px) {
    h1 {font-size: 24px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
}
