@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  
h1 {font-size: 62px;}
h2 {font-size: 58px;}
h3 {font-size: 45px;}

h1, h2, h3, h4, h5, h6 {font-family: 'Nunito Sans', sans-serif;}

a {text-decoration: none;}

p { margin-bottom: 8px;}

body {
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* for both experience and projects page - tabs  */
.nav-link {color: white;}

.nav-pills .nav-link.active,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
    color: black;
    border: 1px solid transparent;
    background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(45deg, #11998E, #38EF7D) border-box 
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* specifically for experience tabs */
.nav-pills .nav-link:hover {color: #38EF7D;}

.nav-pills .nav-link.active {color: black;}

/* specifically for projects tabs */
.nav-tabs .nav-link {border: 1px solid white;}

.nav-tabs .nav-link:hover {
    color: white;
    border: 1px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #11998E, #38EF7D) border-box;
}

/* for tablet devices (650px or smaller)*/
@media only screen and (max-width: 650px) {
    h1 {font-size: 44px;}
    h2 {font-size: 38px;}
    h3 {font-size: 36px;}
}

/* for large mobile devices (425px) or medium mobile devices (375px) or smaller */
@media only screen and (max-width: 425px) {
    h1 {font-size: 35px;}
    h2 {font-size: 32px;}
    h3 {font-size: 36px;}
}

/* for small mobile devices (320px or smaller) */
@media only screen and (max-width: 320px) {
    h1 {font-size: 28px;}
    h2 {font-size: 26px;}
    h3 {font-size: 22px;}
}